@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');
body{
    background: #03071e;
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
    overflow-x: hidden;
}

.vec1 img{
    width: 60%;
    position: absolute;
    right: 0;
    z-index: -1;
    top: -45px;
}

.vec2 img{
    width: 40%;
    position: absolute;
    z-index: -1;
    top: 700px;
}

.mypic .img-res{
    display: none;
}

.main{
    width: 100%;
    backdrop-filter: blur(70px);
}

nav{
    color: #fff;
}

.main nav button{
    color: white;
    border: none;
    box-shadow: none;
}

.main nav button:focus{
    box-shadow: none;
}

.navbar{
    transition: 300ms ease;
}

#nav .dropdown-menu-dark{
    margin-left: 115px;
}

#nav .dropdown-toggle:focus{
    color: #fff;
}

.line{
    width: 150px;
    height: 5px;
    background: #ffee99;
    border-radius: 5px;
}

.links a{
    color: #fff;
}

.links .actived{
    text-decoration: underline;
}

.links a:hover{
    text-decoration: underline;
    color: #fff;
}

.talklink a{
    color: #ffee99;
    text-decoration: none;
    transition: 300ms ease;
}

.talklink a:hover{
    color: #fff;
    transition: 300ms ease;
}

.talklink span{
    margin-left: 10px;
    transition: 300ms;
}

.talklink a:hover span{
    margin-left: 40px !important;
    transition: 300ms ease;
}

.logos{
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px);
    padding: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
}

.logos img{
    opacity: 1 !important;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.project-links a{
    border: 1px solid #8f8f8f;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(50px);
    text-decoration: none;
    width: 400px;
    transition: 300ms ease;
}

.project-links a:hover{
    background: rgba(255, 255, 255, 0.2);
    transition: 300ms ease;
}

.socials a{
    color: #fff;
    font-size: 24px;
    margin-right: 20px;
}

footer{
    background: rgba(255, 255, 255, 0.02);
}

/* projects.html design */

.projectMain{
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(70px);
}

.wrapper > div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #6e44ff; */
    border-radius: 5px;
}

.wrapper > div img:hover{
    opacity: .6;
    cursor: pointer;
    transition: 200ms;
}

.wrapper-fig > div img:hover{
    opacity: .6;
    cursor: pointer;
    transition: 200ms;
}

.wrapper > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 5px;
}

.wrapper-fig > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 5px;
}

.wrapper{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 100px;
    grid-auto-flow: dense;
}

.wrapper-fig{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: dense;
}

.wrapper .tall{
    grid-row: span 5;
}

.wrapper .big{
    grid-row: span 3;
}

.wrapper .med{
    grid-row: span 2;
}

.wrapper-fig .med{
    grid-row: span auto;
    grid-column: auto auto;
}

.gal-modal .modal-header button{
    background: none;
    border: none;
    font-size: 2em;
}

.shortcut a img{
    width: 30px;
    filter: grayscale(100%);
    transition: 300ms ease;
}

.shortcut .active-img img{
    filter: grayscale(0);
}

.shortcut{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: grid;
}

.shortcut button{
    background: #03071e;
    border: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    aspect-ratio: 1;
    align-items: center;
    border-radius: 50%;
}

.shortcut button i{
    font-size: 30px;
    color: #fff;
}

.shortcut .dropdown-menu{
    background: none;
    border: none;
    text-align: end;
    transition: 300ms ease-in-out;
}

.shortcut .dropdown-menu a{
    width: 40px;
    display: flex;
    justify-content: center;
    margin-left: 118px;
    border-radius: 5px;
}

.shortcut .dropdown-menu a:hover{
    background: none;
}

.shortcut .dropdown-menu a img:hover{
    filter: grayscale(0);
    transition: 300ms ease;
}

/* about me page design */

.about-me{
    margin-top: 80px;
}

.about-me img{
    max-width: 300px;
}


/* Responsive Design */

@media (max-width: 1150px){
    
    .about > p{
        padding: 0 !important;
    }

    .mypic img{
        width: 300px;
        transition: 300ms ease;
    }
}

@media (max-width: 1100px){
    .prof{
        flex-direction: column-reverse;
    }

    .abs{
        position: absolute;
        top: 100px;
        left: 450px;
    }

    .abs h3{
        color: #fff !important;
    }

    .abs2{
        position: absolute;
        top: 450px;
        left: 450px;
    }

    .abs2 .display-4{
        font-size: 40px;
    }

    .abs2 > div > div{
        margin-right: 25px;
    }

    .intro{
        margin-top: 0 !important;
    }
}

@media (max-width: 1060px){

    .abs2{
        top: 350px;
    }

    .abs2 .justify-content-between{
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }

    .abs2 .justify-content-between br{
        display: none;
    }

    .abs2 .justify-content-between > div{
        flex-direction: row-reverse;
    }

    .abs2 .justify-content-between > div .display-4{
        width: 100px;
    }
}

@media (max-width: 991px){
    .logos{
        flex-wrap: wrap;
    }

    .logos img{
        margin: 0;
    }

    .main nav{
        z-index: 1;
        margin: 0 !important;
        padding-left: 48px;
        padding-right: 48px;
    }

    .main nav .navbar-collapse{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding-left: 80px;
        background: #03071e;
    }

    #nav .dropdown-menu-dark{
        margin-left: 15px;
        background: transparent;
        border: none;
    }

}

@media (max-width: 870px){
    .abs .text-secondary{
        font-size: 1.5rem;
    }

    .abs h1{
        font-size: 2.5rem;
    }
    
    .abs2{
        top: 375px;
    }

    .line{
        width: 6.5rem;
    }
    .abs2 .display-4{
        font-size: 2rem;
    }
}

@media (max-width: 825px){

    .main nav > div{
        padding: 0 !important;
    }

    .main nav .navbar-collapse{
        padding-left: 30px;
    }

    .prof{
        padding: 0 !important;
    }

    .main footer > div{
        padding-left: 0 !important;
        padding-right: 0 !important;
        text-align: center;
    }

    .socials a{
        margin-right: 0;
        margin: 0 10px !important;
    }

    .abs, .abs2{
        left: 400px;
    }
}

@media (max-width: 730px){
    
    .abs{
        top: 150px;
        left: 300px;
    }

    .abs h3{
        color: #fff !important;
    }

    .abs .text-secondary{
        font-size: 1rem;
        margin: 0 !important;
    }

    .abs h1{
        font-size: 2rem;
        margin: 10px 0 !important;
    }

    .abs2{
        left: 300px;
        top: 270px;
    }

    .abs2 .justify-content-between > div .display-4{
        font-size: 1.5rem;
        width: 70px;
    }

    .abs2 > div > div{
        margin-right: 25px;
    }

    .mypic img{
        width: 200px;
    }
    
    .line{
        width: 5.3rem;
    }

    .talklink a{
        font-size: 0.8rem;
    }

    .logos{
        gap: 20px !important;
    }

    .logos img{
        width: 50px;
    }

    .wrapper > div img:hover{
        opacity: 1;
    }


}

@media (max-width: 571px){

    .main nav{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .main nav .navbar-collapse{
        padding-left: 8px;
    }

    .vec2 img{
        top: 105%;
    }

    .line{
        width: 6.5rem;
    }

    .mypic{
        display: flex;
        justify-content: center;
        margin-top: 180px !important;
    }
    .mypic .img-main{
        display: none;
    }

    .mypic .img-res{
        display: block;
    }

    .mypic img{
        width: 100%;
    }

    .abs{
        left: 20px;
    }

    .abs2{
        position: static;
    }

    .abs .text-secondary{
        font-size: 1.5rem;
        color: #8f8f8f !important;
        margin: 0 !important;
    }

    .abs h1{
        font-size: 2.5rem;
        margin: 10px 0 !important;
    }

    .abs2 .justify-content-between{
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap-reverse;
        text-align: center;
        /* justify-content: center !important; */
    }

    .abs2 .justify-content-between > div .display-4{
        width: auto;
        margin-right: 10px !important;
        /* font-size: 1rem; */
    }

    .about > p{
        margin-top: -25px !important;
    }

    .prof{
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .serv{
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .wrapper{
        display: grid;
        gap: 0;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        margin: 0 !important;
    }
    
    .wrapper .tall{
        grid-column: span 12;
        grid-row: span 7;
    }
    
    .wrapper .big{
        grid-row: span 5;
    }
    
    .wrapper .med{
        grid-row: span 3;
    }

    .wrapper img{
        border-radius: 0 !important;
    }
}

@media (max-width: 375px){

    .abs h1{
        font-size: 2rem;
    }

    .abs .text-secondary{
        font-size: 1.2rem;
    }

    .line{
        width: 5.3rem;
    }

    .mypic{
        margin-top: 140px !important;
    }

    .project-links a{
        width: 100%;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .project-links a .rounded{
        width: 60px !important;
        height: 60px !important;
    }

    .project-links a .text-white{
        font-size: 20px !important;
    }

    .wrapper-fig {
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}